$hundred_percent: 100%;
$body_horizontal_margin: 4vw;
$body_vertical_margin: 1vw;
$body_color: green;

$suite_stack_margin: -150px;
$suite_separator_width: 1vw;
$suite_space_height: 150px;

$play_stack_margin: -95px;
$play_stack_max_height: 290px;
$play_area_separator_height: 12vw;

$active_draw_margin: -4vw;

$card_width: 8vw;
$card_max_width: 75px;
