@import "variables";

body{
  background-color: green;
}
.stack {
  display: inline-block;
  &.suite {
    display: inline-block;
    float: right;
  }
  &.draw {
    display: inline-block;
  }
  &.play{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

.cardWrapper {
  position: relative;
  display: inline-block;
  &.playStack {
    top: -125px;
  }
}

.separator{
  display: inline-block;
  width: $suite_separator_width;
}

.playAreaSeparator{
  height: $play_area_separator_height;
  max-height: $play_area_separator_height;
}
