@import "variables";

body{
  background-color: $body_color;
  overflow: hidden;
  margin-left: $body_horizontal_margin;
  margin-right: $body_horizontal_margin;
  margin-top: $body_vertical_margin;
}
.stack {
  display: inline-block;
  &.suite {
    display: inline-block;
    float: right;
  }
  &.draw {
    display: inline-block;
    & > div.cardWrapper {
      &:nth-child(n + 4) { left: $active_draw_margin; }
      &:nth-child(n + 5) { left: 2*$active_draw_margin; }
    }
  }
  &.play{
    display: flex;
    width: $hundred_percent;
    max-height: $play_stack_max_height;
    justify-content: space-between;
  }
}

.cardWrapper {
  position: relative;
  display: inline-block;
  &.playStack {
    top: $play_stack_margin;
  }
  &.suiteStack {
    top: $suite_stack_margin;
  }
}

.separator{
  display: inline-block;
  &.vertical{
    width: $suite_separator_width;
  }
}

.suiteSpace{
  height: $suite_space_height;
}

.cardClass{
  display: inline-block;
  width: $card_width;
  max-width: $card_max_width;
  & .cardImage{
    max-width: $hundred_percent;
  }
}

.playAreaSeparator{
  height: $play_area_separator_height;
  max-height: $play_area_separator_height;
}
